- provide(:title, 'Dashboard')

.signed-in-content
  // Standalone section with company statistic
  %section.core-data
    %ul
      %li Total members: #{@crews.count}
      %li Total clients: #{@clients.count}
      - if current_user
        %li Signed in as #{current_user.name}!
        %li #{link_to "Sign out", signout_path, id: "sign_out"}
      - else
        %li #{link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"}

  // Index page itself
  .index-container-crew
    .index-list-crew
      %table.index-table
        %thead
          %tr
            %th Team members
        %tbody
          -@crews.each do |crew|
            %tr
              %td #{crew.combine_names}
              %td #{link_to 'profile' , crew_path(crew)}
              %td #{link_to 'edit', edit_crew_path(crew)}
              %td
                %a.delete-button{"data-method" => "delete", href: crew_path(crew), confirm: "Delete #{crew.combine_names}?"} delete
    .index-panel-top
      %ul
        %li 
          %label income
          %span #{@clients.pluck(:budget).sum}$
        %li 
          %label outcome
          %span #{@crews.pluck(:rate).sum}$
        %li 
          - cl_vs_cr = Proc.new {(@clients.pluck(:budget).sum) - (@crews.pluck(:rate).sum)}
          -if (@clients.pluck(:budget).sum) > (@crews.pluck(:rate).sum)
            %span.profit #{cl_vs_cr.call}$
          -else
            %span.loss #{cl_vs_cr.call}$
  .index-container-client
    .index-list-client
      %table
        %thead
          %tr
            %th Company clients
        %tbody    
          -@clients.each do |client|
            %tr
              %td #{client.combine_names}
              %td #{link_to 'details' , client_path(client)}
              %td #{link_to 'edit', edit_client_path(client)}
              %td
                %a.delete-button{"data-method" => "delete", href: client_path(client), confirm: "Delete #{client.combine_names}?"} delete
    .index-panel-bottom
      %h3 
    
