- provide(:title, 'Dashboard')

// Index page itself
.crew-list.clearfix
  %ul.scrollable
    - @crews.each do |crew|
      %li 
        %h3 #{crew.combine_names}
        #{link_to image_tag('png/menu33.png'), crew_path(crew), class: 'profile-button'}
        #{link_to image_tag('png/configuration12.png'), edit_crew_path(crew), class: 'edit-button'}
        #{link_to image_tag('png/close33.png'), crew_path(crew), "data-method" => "delete", href: crew_path(crew), confirm: "Delete \"#{crew.combine_names}?\"", class: 'delete-button'}
.client-list.clearfix
  %ul.scrollable
    - @clients.each do |client|
      %li
        %h3 #{client.project}
        #{link_to image_tag('png/menu33.png'), client_path(client), class: 'profile-button'}
        #{link_to image_tag('png/configuration12.png'), edit_client_path(client), class: 'edit-button'}
        #{link_to image_tag('png/close33.png'), client_path(client), "data-method" => "delete", href: client_path(client), confirm: "Delete \"#{client.combine_names}?\"", class: 'delete-button'}
.bottom_part
  .botom-part-finance
    %span.profit-font $ #{@clients.pluck(:budget).sum}
    %span.loss-font $ #{@crews.pluck(:rate).sum} 
    - cl_vs_cr = Proc.new {(@clients.pluck(:budget).sum) - (@crews.pluck(:rate).sum)}
    -if (@clients.pluck(:budget).sum) > (@crews.pluck(:rate).sum)
      %span.profit #{cl_vs_cr.call}$
    -else
      %span.loss #{cl_vs_cr.call}$


/ .index-block-nav
/   #{link_to 'profile' , crew_path(crew)}
/   #{link_to 'edit', edit_crew_path(crew)}
/   %a.delete-button{"data-method" => "delete", href: crew_path(crew), confirm: "Delete #{crew.combine_names}?"} delete        
    
