- provide(:title, 'Dashboard')

// Standalone section with company statistic

%section.core-data
  %ul
    %li Total members: #{@crews.count}
    %li Total clients: #{@clients.count}

// Index page itself

%div.index-list-crew
  %h2 Crew members
  .scrollable
    %ul
    -@crews.each do |crew|
      %li.main-list-item-crew
        #{image_tag 'me.jpg', height: '60px', width: '60px', class: 'crew-avatar'}
        %ol
          %li 
            %h3 #{crew.combine_names}
          %li Front-End Engineer
          %li Senior
        %div.hiden-crew-info-crew
          %ul
            %li #{link_to 'Profile' , crew_path(crew)}
            %li #{link_to 'Edit', edit_crew_path(crew)}
            %li 
              %a.delete-button{"data-method" => "delete", href: crew_path(crew)} delete
%div.index-list-clients
  %h2 Company clients
  .scrollable
    %ul
    -@clients.each do |client|
      %li.main-list-item-client
        %ol
          %li 
            %h3 #{client.combine_names}
          %li Project name
          %li Fulltime
        %div.hiden-crew-info-client
          %ul
            %li #{link_to 'Details' , client_path(client)}
            %li #{link_to 'Edit' , edit_client_path(client)}
            %li 
              %a.delete-button{"data-method" => "delete", href: client_path(client)} delete
    
