- provide(:title, 'Dashboard')

// Index page itself
.dashboard-top
  %a{"data-toggle" => "tab", href: "#sectionA"} Crew
  %a{"data-toggle" => "tab", href: "#sectionB"} Projects
.dashboard-main
  .dashboard-main-left
    .tab-content
      #sectionA.tab-pane.fade.in.active
        %button.btn.btn-default.btn-sm{"data-target" => "#crewModal", "data-toggle" => "modal", :type => "button"}
          Add new member
        %ul#crew-list.scrollable
          - @crews.each do |crew|
            = render partial: 'crew_row', locals: {crew: crew}
        = render 'crew_modal'
      #sectionB.tab-pane.fade
        %button.btn.btn-default.btn-sm{"data-target" => "#projectModal", "data-toggle" => "modal", :type => "button"}
          Add new project
        %ul#project-list.scrollable
          - @projects.each do |project|
            = render partial: 'projects/project_row', locals: {project: project}
        = render 'projects/project_modal'
  .dashboard-main-right
    .dummy-block
.dashboard-statistics
  %span Projects: #{@projects.count}
  %span Crew: #{@crews.count}
  %span.profit-font $ #{@project_budget}
  %span.loss-font $ #{@crew_rate} 
  - cl_vs_cr = Proc.new {(@project_budget) - (@crew_rate)}
  -if (@project_budget) > (@crew_rate)
    %span.profit $ #{cl_vs_cr.call}
  -else
    %span.loss $ #{cl_vs_cr.call}