- provide(:title, 'Dashboard')

// Index page itself
.dashboard-top
  %a{"data-toggle" => "tab", href: "#sectionA"} Crew
  %a{"data-toggle" => "tab", href: "#sectionB"} Projects
.dashboard-main
  .dashboard-main-left
    .tab-content
      #sectionA.tab-pane.fade.in.active
        %ul.scrollable
          - @crews.each do |crew|
            = render partial: 'crew_row', locals: {crew: crew}
        %button.btn.btn-default.btn-lg{"data-target" => "#crewModal", "data-toggle" => "modal", :type => "button"}
          Add new member
        = render 'crew_modal'
      #sectionB.tab-pane.fade
        %ul.scrollable
          - @projects.each do |project|
            %li 
              #{project.project_name}
              #{link_to image_tag('png/close33.png'), project_path(project), "data-method" => "delete", href: project_path(project), data: {confirm: "Delete \"#{project.project_name}?\" project"}, class: 'delete-button', title: 'Remove'}
              #{link_to image_tag('png/configuration12.png'), edit_project_path(project), class: 'edit-button', title: 'Settings'}
              #{link_to image_tag('png/menu33.png'), project_path(project), class: 'profile-button', title: 'View details'}
  .dashboard-main-right
    .dummy-block
.dashboard-statistics
  %span Projects: #{@projects.count}
  %span Crew: #{@crews.count}
  %span.profit-font $ #{@project_budget}
  %span.loss-font $ #{@crew_rate} 
  - cl_vs_cr = Proc.new {(@project_budget) - (@crew_rate)}
  -if (@project_budget) > (@crew_rate)
    %span.profit $ #{cl_vs_cr.call}
  -else
    %span.loss $ #{cl_vs_cr.call}