- provide(:title, 'Dashboard')

// Standalone section with company statistic

%section.core-data
  %ul
    %li Total members: #{@crews.count}
    %li Total clients: #{@clients.count}

// Index page itself

%div.index-list-crew
  %h2 Crew members
  %ul
  -@crews.each do |crew|
    %li 
      %span #{crew.combine_names}
      %div.hiden-crew-info-crew
        %ul
          %li #{link_to 'Profile' , crew_path(crew)}
          %li 
            %a.delete-button{"data-method" => "delete", href: crew_path(crew)} delete
%div.index-list-clients  
  %h2 Company clients
  %ul
  -@clients.each do |client|
    %li 
      %span #{client.combine_names}
      %div.hiden-crew-info-client
        %ul
          %li #{link_to 'Profile' , client_path(client)}
          %li 
            %a.delete-button{"data-method" => "delete", href: client_path(client)} delete
    
