- provide(:title, "#{@crew.combine_names} profile")

- c = @crew
.profile-crew.clearfix
  .profile-avatar
    #{image_tag c.avatar.url}
  .profile-main
    %table
      %tr
      -(1..4).each do |a|
        %td #{a}
      %tr
      -(5..8).each do |a|
        %td #{a}
      %tr
      -(9..12).each do |a|
        %td #{a}
  / .main-info.scrollable
  /   %ul
  /     %li 
  /       %h2.header_personal #{c.combine_names}
  /     %li.assigned_project #{c.client_project if c.client_project}

  /     -if c.bank_card
  /       %li.bank_account #{c.bank_card}
  /       %span.bank_label #{c.bank_name}
    
