- provide(:title, "#{@crew.combine_names} profile")

- c = @crew
.side-info
  #{image_tag c.avatar.url}
  %ul
    %li #{link_to 'Edit', edit_crew_path(c)}
    %li 
      %a.delete-button{"data-method" => "delete", href: crew_path(c)} delete
.main-info.scrollable
  %ul
    %li 
      %h2.header_personal #{c.combine_names}
      -if c.in_charge?
        %span.in_charge Privileged member 
    %li.assigned_project #{c.client_project if c.client_project}

    -if c.bank_card
      %li.bank_account #{c.bank_card}
      %span.bank_label #{c.bank_name}
    
