- provide(:title, "#{@crew.combine_names} profile")

// Modal window
= render 'crew_edit_form'

//Sidebar
= render 'layouts/navbar'

.signed-in-content
  .profile-crew.scrollable
    .details-header-crew
      - if @crew.avatar?
        %img.crew_avatar{src: "#{@crew.avatar}"}
      %h1 #{@crew.combine_names}
    .profile-info-crew
      %table#crew_info.table.table-hover.crew-table
        = render 'crew_show'
    %button.btn.btn-default.btn-sm{"data-target" => "#crewEditModal", "data-toggle" => "modal", :type => "button"}
      Edit 
   

          


    
