- provide(:title, "#{@crew.combine_names} profile")

.signed-in-content
  - c = @crew
  .profile-crew.scrollable
    .profile-crew-top
      #{image_tag c.avatar.url}
    .profile-crew-info
      %h2 Personal info
      %ul
        %li
          %label Fullname
          %span #{c.combine_names}
        %li 
          %label Date of birth
          %span 21.12.1989
        -if c.bank_card
          %li 
            %label Bank card
            %span #{c.bank_card}
        %li
          %label Rate/month 
          %span $#{c.rate}   
    .profile-crew-work
      %h2 Workflow
      %ul
        -if c.client_project
          %li
            %label Project
            %span #{c.client_project}


    
