- provide(:title, "#{@crew.combine_names} profile")

.side-info
  #{image_tag @crew.avatar.url}
  %ul
    %li #{link_to 'Edit', edit_crew_path(@crew)}
    %li 
      %a.delete-button{"data-method" => "delete", href: crew_path(@crew)} delete
.main-info.scrollable
  %ul
    %li 
      %h2.header_personal #{@crew.combine_names}
      -if @crew.in_charge?
        %span.in_charge Privileged member 
    -if @crew.bank_card
      %li.bank_account #{@crew.bank_card}
      %span.bank_label #{@crew.bank_name}
