- provide(:title, "#{@crew.combine_names} profile")

.signed-in-content
  - c = @crew
  .profile-crew.scrollable
    .profile-left  
      .profile-avatar
        #{image_tag c.avatar.url}
      .profile-credentials  
        %ul
          %li #{c.combine_names}
          %li #{c.rate}$/month
    .profile-right  
      .profile-crew-info
        %h2 Personal info
        %ul
          %li 
            %label date of birth
            %span 21.12.1989
          -if c.bank_card
            %li 
              %label bank card
              %span #{c.bank_card}
      .profile-crew-work
        %h2 Statistics
        %ul
          -if c.client_project
            %li
              %label project
              %span #{c.client_project}


    
