- provide(:title, 'Dashboard')

// Modal windows

= render 'crews/crew_modal'
= render 'projects/project_modal'

// Index page itself
= render 'layouts/navbar'
.dashboard-top
  %a{"data-toggle" => "tab", href: "#sectionA"} Crew
  %a{"data-toggle" => "tab", href: "#sectionB"} Projects
.dashboard-main
  .dashboard-main-screen
    // Dashboard tabs
    .tab-content
      #sectionA.tab-pane.fade.in.active
        .dashboard-A-tab-main
          %button.btn.btn-default.btn-sm{"data-target" => "#crewModal", "data-toggle" => "modal", :type => "button"}
            Add new member
          %ul#crew-list.scrollable
            - @crews.each do |crew|
              = render partial: 'crews/crew_row', locals: {crew: crew}
      #sectionB.tab-pane.fade
        .dashboard-B-tab-main
          %button.btn.btn-default.btn-sm{"data-target" => "#projectModal", "data-toggle" => "modal", :type => "button"}
            Add new project
          %ul#project-list.scrollable
            - @projects.each do |project|
              = render partial: 'projects/project_row', locals: {project: project}
.dashboard-statistics
  %span Projects: #{@projects.count}
  %span Crew: #{@crews.count}
  .profit-font $ #{@project_budget}
  .loss-font $ #{@crew_rate} 
  - pr_vs_cr = Proc.new {(@project_budget) - (@crew_rate)}
  -if (@project_budget) > (@crew_rate)
    .profit $ #{pr_vs_cr.call}
  -else
    .loss $ #{pr_vs_cr.call}