- provide(:title, 'Sign Up')

.form-block-user
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| 
    = render 'shared/error_messages', object: f.object 
    = f.label :emai
    = f.email_field :email, autofocus: true
    = f.label :password
    = f.password_field :password, autocomplete: "off"
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off"
    %button.btn.btn-default.form-submit{type: "submit"} Sign up
    = render "devise/shared/links"