- provide(:title, "#{@project.combine_names} page")

// Modal window
= render 'project_edit_form'

//Sidebar
= render 'layouts/navbar'

.signed-in-content  
  .details-client.scrollable
    .details-header-client
      %h1 #{@project.project_name}
    .details-content
      %h2 Project details
      %ul
        = render 'project_show'
    %button.btn.btn-default.btn-sm{"data-target" => "#projectEditModal", "data-toggle" => "modal", :type => "button"}
      Edit 

    






    