- provide(:title, "#{@project.combine_names} page")

.signed-in-content  
  - p = @project
  .details-client.scrollable
    .details-header-client
      %h1 #{p.combine_names}
    .details-content
      %h2 Project details
      %ul
        %li 
          %label Client name
          %span #{p.combine_names}
        %li
          %label Project budget
          %span $#{p.budget}
        %li
          %label Description
          %span #{p.descr}
    






    