- provide(:title, "#{@project.combine_names} page")

// Modal window
= render 'project_edit_form'

//Sidebar
= render 'layouts/navbar'

.signed-in-content  
  .details-project.scrollable
    .details-header-project
      %h1 #{@project.project_name}
      - if @project.descr?
        .project_descr #{@project.descr}
    .details-content-project
      %table#project_info.table.table-hover.project-table
        = render 'project_show'
    %button.btn.btn-default.btn-sm{"data-target" => "#projectEditModal", "data-toggle" => "modal", :type => "button"}
      Edit 

    






    