!!!
%html
  %head
    %title Crew : : #{yield(:title)}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    -if signed_in?
      %nav
        %h1.ace Ace!
        %ul
          %li #{to_root}
          %li #{link_to 'Add member', new_crew_path}
          %li #{link_to 'Add client', new_client_path}
    %main
      = yield



