!!!
%html
  %head
    %title Crew : : #{yield(:title)}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    -if signed_in?
      %nav
        %ul
          %li #{to_root}
          %li #{link_to 'Add member', new_crew_path}
          %li #{link_to 'Add client', new_client_path}
          - if current_user
            %li #{link_to "Sign out", signout_path, id: "sign_out"}
          - else
            %li #{link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"}
        // Flash notice
        - if flash[:alert]
          .alert #{flash[:alert]}
        -if flash[:success]
          .success #{flash[:success]}
    %main
      = yield



